<div class="container">
	<div class="row">
      <div class="col-12">
      		<h3><i class="fas fa-cat"></i>About</h3>
             <div class="row">
      		      <div class="about_image">
      	           <%= image_tag("miaoumiaouuuuuu.jpg", size:'600x250') %>
      	           <h2 class="aboutabout">Miaou！Miaou！の誕生</h2><br>
                </div>
                <div class="about_text">
			             	<p>猫の泣き声をフランス語だと"Miaou！Miaou！(ミャウ　ミャウ)"と表現します。</p>
			             	<p>猫カフェで聴こえてくる猫の鳴き声…</p>
			             	<p>ごはんのおねだりや、遊んでほしい時、甘える時も、猫は鳴いて表現します。</p>
			             	<p>このサイトは猫様のおもちゃやおやつ、猫カフェの情報交換SNSサイトです。</p>
			             	<p>すぐそこで鳴き声が聴こえてきそうです。</p>
			             	<p>そこでサイト名をMiaou！Miaou！に命名しました。</p>
                </div>
              </div>
              		<div class="row">
              			<div class="col-12">
              	     <h2 class="about_use">このサイトでできること</h2><br>
              	      <div class="about_image2">
                        <%= image_tag("about3.jpg", size:'800x800') %>
                      </div>
                    </div>
                  </div>

             <div class="kinako">
      	       <%= image_tag("about2.jpg", size:'600x410') %>
      	     </div>
    </div>
  </div>
</div>