<div class="top">
       <div class="container1">
          <div id="theTarget">
          		<div class="image1"></div>
          		<div class="image2"></div>
          		<div class="image3"></div>
          		<div class="image4"></div>
          		<div class="image5"></div>
          	</div>
              <p class="main-text1 box" id="js-target">
                <p><i class="fas fa-cat"></i>Miaou!Miaou!<br>
                  さっそく始めるにゃ！<br>
                  <a class="button" href="/customers/sign_in">Log in <i class="fas fa-paw"></i></a>
                  <a class="button red" href="/customers/sign_up">Sign Up <i class="fas fa-paw"></i></a>
                </p>
              </p>
        </div>

      	<div class="center-block">
      		   <p class="sub_message">Miaou!Miaou!は…</p>
             <p>猫様の喜ぶおやつ<i class="fas fa-fish"></i>やおもちゃを共有したり、</p>
             <p>訪れたことのある猫カフェの情報をシェアしたり、</p>
             <p>会員様同士で情報交換ができるSNSサイトです。</p>
        </div>
</div>




