<!-- ここにサクセスメッセージを加える -->
<div class="body">
<div class="container">
<!-- <div class="row"> -->
	<!-- <div class="top-message col-md-offset-3 col-md-6"> -->
	  <div class="center-block">	
		<h1>ようこそ！<i class="fas fa-cat"></i>Miaou!Miaou!へ！</h1>
		<br>
		<p>よく食べたか<i class="fas fa-fish"></i></p>
		<p>よく寝ていたかzzZ<!-- <i class="fas fa-bed"></i> --></p>
		<p>よく遊んでいたか<i class="fas fa-feather"></i></p>
		<p>猫たちの記録をしていきましょう！</p>
	  
	  <a class="btn btn-outline-danger btn-lg" href="/users/sign_in" role="button">Log in <i class="fas fa-paw"></i></a>
	  <a class="btn btn-outline-info btn-lg" href="/users/sign_up" role="button">Sign Up <i class="fas fa-paw"></i></a>
	 
	  </div>
	</div>
</div>
</div>
</div>

