 <div class="container1">
    <div id="theTarget">
    		<div class="image1"></div>
    		<div class="image2"></div>
    		<div class="image3"></div>
    		<div class="image4"></div>
    		<div class="image5"></div>
    	</div>

        <p class="main-text1 box" id="js-target">
          <p>ここに文章</p>
    </div>
    


	  <div class="center-block">	
		<h1>ようこそ！<i class="fas fa-cat"></i>Miaou!Miaou!へ！</h1>
		<br>

	  
	  <a class="btn btn-outline-danger btn-lg" href="/customers/sign_in" role="button">Log in <i class="fas fa-paw"></i></a>
	  <a class="btn btn-outline-info btn-lg" href="/customers/sign_up" role="button">Sign Up <i class="fas fa-paw"></i></a>
	 
	  </div>
	</div>
</div>


