// Place all the styles related to the customers::cafe_posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#star5-price_rate{
  float:left;
}

#star6-free_rate{
  float:left;
}

#star7-total_rate{
  float:left;
}

.index_shop_name{
 margin-bottom:0px;
}