// Place all the styles related to the customers::product_posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face{
  font-family: "cute";
  src: font-url('rounded-mplus-1p-regular.ttf') format('truetype');
}


.show_title{
  float:left;
  font-size:20px;
}

#star1-price_rate{
  float:left;
}

/*ボタン*/
.button {
  display: inline-block;
  padding: .75em 4em;
  border: 2px solid #333;
  border-radius: 3em .5em 2em .5em/.4em 2em .5em 3em;
  color: #333;
  text-decoration: none;
  text-align: center;
}


h3{
  color: #6594e0;/*文字色*/
  border-bottom: solid 3px #B2D1E6;
}


#star3-total_rate{
  float:left;
}

.index_total{
  float:left;
}

.field{
  border: 1px solid #C3CAD2;
  border-radius: 4px;
}


.product_image{
  float:left;
  width:30%;
}

.product_form{
  float:left;
  padding-left:70px;
  padding-top:8px;
  width:70%;
}

.product_description{
  clear:left;
}

.good{
  font-size:25px;
  padding-left:10px;
}

.good1{
  font-size:35px;
}


/*投稿詳細の投稿ユーザーの名前と画像*/
.post_customer_name_image{
  font-size:20px;
  text-align:right;
}

/*投稿詳細のコメント部分*/
.comment_customer{
  clear:both;
}

/*投稿詳細のフォロー部分*/
.post_customer_name_image.follow{
  font-size:15px;
}

/*投稿詳細のフォローボタン*/
.show_button{
  clear:both;
  float:right;
}

/*フォローのフラッグの色*/
.fa-flag{
  color:#94BAD9;
}

.fa-heart{
  color:#D3888E;
}

/*indexのいいね*/
.index_favorite{
  clear:both;
}

.good2{
  font-size:23px;
  float:left;
}

/*indexのコメント*/
.index_comment{
  font-size:23px;
  float:left;
  padding-left:20px;
}

.index_product_name{
  margin-bottom:0px;
}
