<div class="container">
	<div class="row">

		<%= render 'layouts/sidebar' %>

	   <div class="first_field">
		     <div class="col-10">


           <div class="thanks_form">

           	 	<h3 class="title">メッセージ送信完了</h3>

           	 	<p>
           	 		メッセージをいただきありがとうございました。
           	 	</p>


           </div>

		     </div>
		 </div>
  </div>
</div>