<div class="container">
	<div class="row">

		<%= render 'layouts/sidebar' %>

		    <div class="col-10 contact_page">


           <div>

           	 	<h3 class="title">メッセージ送信完了 <i class="fa fa-send" aria-hidden="true"></i></h3>

           	 	<p class="thanks_form">
           	 		メッセージをいただきありがとうございました。
           	 	</p>


           </div>

		    </div>
  </div>
</div>