/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

*{
  border:0;
  margin:0;
  padding:0;
}

@font-face {
  font-family: "cute";
  src: font-url('rounded-mplus-1p-regular.ttf') format('truetype');
}

nav.header{
  background-color: #F6F3DE;
  height:90px;
}

.inner{
  max-width: 100%;
  margin:0 auto;
  width:1150px;
}
nav.header>.flex{
  align-items:center;
  height:60px;
}

.flex{
  display: flex;
  justify-content: space-between;
}

.flex li{
  font-size:18px;
  margin-left: 30px;
  margin-top:24px;
  list-style: none;
}

.logo{
  padding-top:28px;
}

.fa-home{
  color:#2D3236;
  text-decoration: none;
}

.fa-home:hover{
  text-decoration: none;
  color:#fff;
}

.fa-paw{
  color:#2D3236;
  text-decoration: none;
}

.fa-paw:hover{
  text-decoration: none;
  color:#fff;
}

.fa-book-open{
  color:#2D3236;
  text-decoration: none;
}

.fa-book-open:hover{
  text-decoration: none;
  color:#fff;
}

.fa-sign-out-alt{
  color:#2D3236;
  text-decoration: none;
}

.fa-sign-out-alt:hover{
  text-decoration: none;
  color:#fff;
}

.fa-cat{
  color:#2D3236;
  text-decoration: none;
}

.fa-cat:hover{
  text-decoration: none;
  color:#fff;
}

.fa-user-plus{
  color:#2D3236;
  text-decoration: none;
}

.fa-user-plus:hover{
  text-decoration: none;
  color:#fff;
}

.fa-sign-in-alt{
  color:#2D3236;
  text-decoration: none;
}

.fa-sign-in-alt:hover{
  text-decoration: none;
  color:#fff;
}

.fa-fish{
  color:#1B9AB2;
}

.center-block{
  text-align: center;
  margin-top: 70px;
}


.fa-feather{
  color:#A8CEEF;
}

.container-fluid{
  text-align: center;
}

/*ヘッダーサインアップ*/
.sign_up{
  text-align: center;
  margin-top:70px;
}

/*topのjQuery*/
.image1{
  background-image: url(image1.jpg);
}
.image2{
  background-image: url(image2.jpg);
}
.image3{
  background-image: url(image3.jpg);
}
.image4{
  background-image: url(image4.jpg);
}
.image5{
  background-image: url(image5.jpg);
}

.container1{
  margin-top:30px;
	height:500px;
	position:relative;
}

.container1 p{
	position: absolute;
  color:#FFF;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  text-align:center;
  font-size:25px;
}

/*footer*/
footer{
  bottom:0;
  width:100%;
  height:60px;
  background-color:#F6F3DE;
  padding:20px 0;
}

footer p{
  color:#FFF;
  text-align:center;
}

.main{
  margin-top:90px;
}


#wrapper{
  display:flex;
  flex-direction: column;
  min-height:100vh;
}

.container{
	position:relative;
	width:100%;
	height:100%;
	min-height:100%;
}

/*サイドバー*/
  .sidebar{
  text-align:center;
}

/*indexのCSS*/
  .index_title{
  float:both;
}

.index-title a {
  color:black;
}

a{
  color:black;
}

a:hover{
  text-decoration:none;
  color:#A4C6E0;
}

html, body{
  font-family: "cute";
}


.menu {
    max-width: 600px;
}

.menu a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #000;
}

label.side {
    display: block;
    margin: 0 0 4px 0;
    padding : 15px;
    line-height: 1;
    color :#fff;
    background : #A4C6E0;
    cursor :pointer;
}

.accordion {
    display: none;
}

.menu ul {
    margin: 0;
    padding: 0;
    background :#f4f4f4;
    list-style: none;
}

.menu li {
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#menu_bar01:checked ~ #links01 li,
#menu_bar02:checked ~ #links02 li {
    height: 54px;
    opacity: 1;
}

/*login,signupページ*/
.first_form{
	text-align:left;
	margin: auto;
}

/*loginボタン*/
.button {
  display       : inline-block;
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 7px 29px;   /* 余白       */
  background    : #E2EBFE;     /* 背景色     */
  line-height   : 1em;         /* 1行の高さ  */
  opacity       : 1;           /* 透明度     */
  transition    : .3s;         /* なめらか変化 */
}
.button:hover {
  opacity       : 0.7;         /* カーソル時透明度 */
}