<div class="col-2">
 <div class="sidebar">
   <h2>Category</h2>

   <p><i class="fas fa-paw"></i></p>
   <p>お問合せ</p>
   <div class="menu">
    <label class="side" for="menu_bar01">猫カフェ</label>
    <input type="checkbox" id="menu_bar01" class="accordion"/>
    <ul id="links01">
        <li><a href="/customers/cafe_posts/"><i class="far fa-comments"></i>投稿を見る</a></li>
        <li><a href="/customers/cafe_posts/new"><i class="fas fa-pencil-alt"></i>投稿する</a></li>
        <li><a href=""><i class="fas fa-heart"></i>お気に入り</a></li>
    </ul>
    <label class="side" for="menu_bar02">猫グッズ</label>
    <input type="checkbox" id="menu_bar02" class="accordion" />
    <ul id="links02">
        <li><a href="/customers/product_posts/"><i class="far fa-comments"></i>投稿を見る</a></li>
        <li><a href="/customers/product_posts/new"><i class="fas fa-pencil-alt"></i>投稿する</a></li>
        <li><a href=""><i class="fas fa-heart"></i>お気に入り</a></li>
    </ul>
</div>



 </div>
</div>